@import url('https://fonts.googleapis.com/css?family=Proxima+Nova');

body {
	font-family: Proxima-Nova, sans-serif;
	background-color: #ABD5E1;
	display: inline-block;
}

h1 {
	font-weight: bold;
	color: #F26951;
	line-height: 1.2;
	font-size: 40px;
}

#welcome-container {
	margin-top: 35px;
	margin-left: 35px;
}

.form-group {
    margin:auto;
    padding:20px ;

    &:first-child { border-color: transparent; }
}

.search-by-intro {
	display: inline-block;
}

.dropdown {
	display: inline-block;
}

.btn-primary {
	background-color: transparent;
	border: none;
	color: #F26951;
	padding: 10px 5px;
	text-align: center;
	display: inline-block;
	font-size: 14px;
	text-decoration: underline;
	font-weight: bold;
}

button {
	background-color: #fff;
	border: none;
	color: #0F4366;
	padding: 10px 5px;
	text-align: center;
	display: inline-block;
	font-size: 14px;
}

#search-icon {
	width: 20px;
	height: auto;
	opacity: 0.7;
}

.form-control {
  padding: 0px 10px 0 20px;
  color: #333;
  font-size: 15px;
  font-style: italic;
  font-weight: 500;
    border: 1px solid #d6d6d6;
    border-right: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    min-height:60px;
    height: auto;
    border-radius: 50px 0  0 50px !important;
}
.form-control :focus {
        -webkit-box-shadow: none;
        box-shadow: none;
        border-color: transparent;

    }

#searchbtn
{ border:0;
  padding: 0px 10px;
  color: #fff;
  background:#fff;
    border: 1px solid #d6d6d6;
    border-left: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    min-height:60px;
    height: auto;
border-radius: 0 60px 60px 0 !important;
}

#background-img-1 {
	width: 500px;
	height: auto;
	position: absolute;
	bottom: 0;
	right: 0px;
}

#background-img-2 {
	width: 500px;
	height: auto;
	position: absolute;
	bottom: 10px;
	left: 0px;
}

#card-img {
	width: 200px;
	object-fit: cover;
}

.card-deck {
	margin-top: 20px;
}

.card {
	padding: 10px;
	background-color: #faa466;
	border-radius: 25px;
	border: none;
	text-align: left;
	color: #fff;
	font-size: 30px;
	font-weight: bold;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}